.eventImageContainer {
  height: 300px;
  width: 100%;
  text-align: center;
}

.eventImageContainer img {
  height: 100%;
  object-fit: contain
}

.eventForm {
  width: fit-content;
  margin: auto;
  text-align: left;
}